.caption1 {
    position: absolute;
    height: 70vh;
}

.caption {
    height: calc(100vh + 120px);//115vh; //70vh
    position: absolute;
    text-align: center;
    top: 0; //50%;
    width: 100%;

    .floating-header {
        align-items: center;
        background: rgba(0,0,0,0.2);
        color: white;
        font-size: 2.7rem; //3.2rem;
        height: 4rem;
        padding: 0;
        position: sticky;
        top: 50%; //140px;
        z-index: 2;
    }
}
.parallax {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

    &.bg1 {
        background-attachment:scroll;
        background-image: url('../../../assets/img/about/IMG_8081.jpg');
        background-position: center;
        min-height: 100vh;

        .opacity-layer {
            background-color: rgba(0,0,0,0.4);
            height: calc( 100% - 25px );
            position: absolute;
        }
    }
    .quote {
        div {
            font-size: 2.5rem;
            font-style: italic;
            font-weight: 100;
            line-height: 1em;
        }

        span {
            float: right;
            font-size: 1.5rem;
        }
    }

    &.end {
        .caption {
            top: 35%;
        }
    }

    .caption {
        color: #000;
        left: 0;
        position: absolute;
        text-align: center;
        top: 50%;
        width: 100%;

        .border {
            background-color: rgba(0,0,0,0.5);
            color: var(--gold);
            display: flex;
            font-size: 1.3rem;
            letter-spacing: 10px;
            padding: 18px;
        }
    }
}

.about-content {
    font-size: 1.2rem;
    h3 {
        // background-color: white;
        color: #777;
    }
    
    h5 {
        color: var(--gold);
    }
    
    .custom-paragraph {
        color: #a38f6a;

        &:nth-child(5), &:nth-child(6), &:nth-child(7) {
            display: list-item;
            margin-left: 3rem;
        }
    }

    .border {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        border: 1px solid gray;
        height: 120px;

        &:hover {
            border-color: var(--gold) !important;
            cursor: pointer;
        }

        &.photographize {
            background-image: url('../../../assets/img/about/photographize.png');
        }

        &.vogue {
            background-image: url('../../../assets/img/about/vogue.jpg');
        }

        // .photographize {
        //     max-height: 80px;
        //     width: auto;
        // }
    }
}

.carousel-item {
    &::after {
        content: "";
        width: 100%;
        height: 150px;
        background: linear-gradient(0deg, rgba(0,0,0,0.7) 25%, rgba(255,255,255,0) 100%);
        position: absolute;
        bottom: 0;
        left: 0;
    }
    
    img {
        width: inherit;
    }
}