<div class="caption">
    <span class="floating-header justify-content-center col-12 col-md-6 m-auto">SOFIA CARRASCO</span>
</div>
<div class="mt-5 flex">
    <div class="parallax bg1">
    </div>
    <div class="about-content d-none animate__animated animate__slow animate__delay-1s">
        <div class="col-12 container d-flex mx-0">
            <div class="caption1">
                <span class="floating-header justify-content-center col-12 col-md-6 m-auto">SOFIA CARRASCO</span>
            </div>
            <div class="col-8 container mt-0 mb-5 px-4 text-white">
                <div class="mb-3 custom-paragraph" *ngFor="let item of ['p1','p2', 'p3', 'p4', 'p5', 'p6','p7','p8','p9'];">
                    {{item | translate}}
                </div>
            </div>
            <div class="col-4 container mb-5 mt-0">
                <!-- <img src="../../../assets/img/about/sofia.jpg" style="width: 100%;" /> -->
                <div id="slider" class="carousel slide h-100" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider" data-slide-to="0" class="active"></li>
                        <li data-target="#slider" data-slide-to="1"></li>
                        <li data-target="#slider" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <!-- <div class="w-100 slide slide1"></div> -->
                            <img src="../../../assets/img/about/IMG_4691-2.jpg" alt="Slide" />
                        </div>
                        <div class="carousel-item">
                            <!-- <div class="w-100 slide slide2"></div> -->
                            <img src="../../../assets/img/about/IMG_0820.jpg" alt="Slide" />
                        </div>
                        <div class="carousel-item">
                            <!-- <div class="w-100 slide slide3"></div> -->
                            <img src="../../../assets/img/about/sofia.jpg" alt="Slide" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <h3 class="px-5 pt-5 pb-0">{{ 'name' | translate }}</h3>
        <h5 class="px-5 pb-3">{{ 'student' | translate }}</h5>
        <div class="row mx-0 px-0">
            <div class="col-12 col-md-8 px-0">
                <div class="px-5">{{ 'studentSince' | translate }}</div>
                <div class="px-5 mt-3">
                    <h5>{{ 'photography' | translate }}</h5>
                    <span>{{ 'published' | translate }}</span>
                    <div class="row mt-2">
                        <div class="col-6">
                            <a href="https://issuu.com/photographizemag/docs/_02_monochrome_issuu/130" target="_blank">
                                <div class="p-1 border text-center photographize"></div>
                            </a>
                        </div>
                        <div class="col-6">
                            <a href="https://www.vogue.it/photovogue/portfolio/?id=188944" target="_blank">
                                <div class="p-1 border text-center vogue"></div>
                            </a>
                        </div>
                    </div>
                    
                </div>
                <div class="px-5 mt-3 pb-4">
                    <h5>{{ 'films' | translate }}</h5>
                    <span>{{ 'specialized' | translate }}</span>
                    <ul class="pt-2 pl-3">
                        <li><b>“{{ 'EnLaNada' | translate }}”</b> <small>2019</small> - {{ 'awarded' | translate }}</li>
                        <li><b>“Pepe Co.”</b> <small>2019</small> - {{ 'RALLYGIFF' | translate }}</li>
                        <li><b>“{{ 'Luna' | translate }}”</b> <small>2020</small> - {{ 'RALLYFERATUM' | translate }}</li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-4 px-0">
                <img class="w-100" src="../../../assets/img/about/sofia.jpg" alt="{{ 'name' | translate }}" />
            </div>
        </div> -->
    </div>
    <!-- <div class="parallax bg2"></div> -->
    <!-- <div class="parallax bg3"></div> -->
    <!-- <div class="parallax bg1 end">
        <div class="opacity-layer w-100"></div>
        <div class="caption quote">
            <div class="text-white w-75 m-auto">
                {{ 'quote' | translate }}
            </div> 
            <span class="author pr-3 text-white w-75">-SOFIA CARRASCO</span>
        </div>
    </div> -->
</div>
