.col {
    height: 200px;

    .card {
        border: none;
        
        .card-body {
            background-color: rgba(0,0,0,0.7);
            cursor: pointer;

            &:hover {
                h2, h5 {
                    color: var(--gold) !important;
                }
            }
        }
    }
}

.icons-container span {
    cursor: pointer;
}