<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="reveal col mb-5 card-container" *ngFor="let item of items | async">
        <div class="card h-100" [ngStyle]="{backgroundImage:'url(' + item.url + ')', backgroundSize:'cover'}" >
            <div *ngIf="item.director" class="card-body d-flex align-items-center justify-content-center flex-column">
                <h2 class="text-white text-center">{{ item.name }} | {{ item.year }}</h2>
                <h5 class="text-white"> {{ item.director }} </h5>
            </div>
        </div>
    </div>
</div>

<app-no-results *ngIf="(items | async)?.length == 0"></app-no-results>