div.fixed-bottom {
    left: unset;
}

// img { 
//     height: 100vh !important;
//     width: auto !important;
// }

.carousel-indicators {
    bottom: unset;
    top: calc( 100vh - 70px );

    .active {
        background-color: $primary-color;
    }

    li {
        border-radius: 50%;
        height: 15px;
        width: 15px;
    }
}

.slide {

    &.slide1{
        background-image: url('./assets/img/home/Home_1.jpg');
    }

    &.slide2{
        background-image: url('./assets/img/home/Home_2.jpg');
        background-position-y: 75%;
        
    }
    &.slide3{
        background-image: url('./assets/img/home/Home_3.jpg');
    }
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh !important;
}