<div id="slider" class="carousel slide h-100" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#slider" data-slide-to="0" class="active"></li>
        <li data-target="#slider" data-slide-to="1"></li>
        <li data-target="#slider" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="w-100 slide slide1"></div>
            <!-- <img src="../../../assets/img/home/ANUMAX.jpg" alt="Slide" /> -->
        </div>
        <div class="carousel-item">
            <div class="w-100 slide slide2"></div>
            <!-- <img src="../../../assets/img/home/ANUMAX.jpg" alt="Slide" /> -->
        </div>
        <div class="carousel-item">
            <div class="w-100 slide slide3"></div>
            <!-- <img src="../../../assets/img/home/ANUMAX.jpg" alt="Slide" /> -->
        </div>
    </div>
</div>



<!-- <app-home-carousel></app-home-carousel> -->
<!-- <div class="fixed-bottom text-right mr-5 mb-3">
    <app-social></app-social>
</div> -->