@font-face {
    font-family: "Baskervville";
    src: url("/assets/fotns/Baskervville-Regular.ttf") format("ttf");
}

body, a {
    font-family: 'Baskervville';
}

body {
    background-color: $dark-gray;
}

.lb-outerContainer, .lb-container {
    background-color: rgba($color: #000000, $alpha: 0);

    a.lb-cancel {
        width: 0;

        &::before {
            animation: rotation 2s infinite linear;
            color: white;
            content: "\f110";
            font-family: 'Font Awesome 5 Pro';
            font-size: 3rem;
            left: calc(50% - 1.5rem);
            position: fixed;
            top: calc(50% - 1.5rem);
        }
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}