<div class="row">
    <div class="info col-2">
        <a role="button" data-toggle="modal" data-target="#exampleModalCenter">
            <span class="fas fa-info-circle ml-3"></span>
        </a>
    </div>
    <div class="social-icons col-10 text-right pr-5">
        <a [href]="soc.url" target="_blank" *ngFor="let soc of social">
            <span [class]="soc.class"></span>
        </a>
    </div>
</div>