.main-container{
    margin-top: 40px;
  }
  
  /* Drop Zone */
  .drop-zone { 
      border: dotted 3px lightgray; 
      opacity: 0.5; 
      color: #666; 
      text-align: center 
  }
  
  .file-over { 
      border: dotted 3px dodgerblue; 
  }
  
  .table { 
      margin-top: 30px;
      
      th {
          text-transform: capitalize;
      }
  }
  
  .text-green { 
      color: green 
  }

  .btn-success, .btn-danger {
      &:disabled {
          cursor: not-allowed;
      }
  }
  