<div class="container d-flex mt-5 pb-5">
    <div class="col-md-4">
        <!-- <h3>Selecciona arhivos</h3> -->
        <div appNgDropFiles 
            [files]="files"
            [fileExists]="fileExists"
            (mouseOver)="overDrop = $event" [ngClass]="{'file-over': overDrop}" class="well drop-zone">
            <h4>Drop your files here</h4>
            <img src="assets/drop-images.png" alt="Drop">
        </div>
    </div>
    <div class="col-md-8">
        <!-- <h4>Cargar archivos</h4> -->
        <button (click)="cargarImagenes()" [disabled]="files.length === 0" class="btn btn-success mr-2">Upload Files</button>
        <button (click)="limpiarImagenes()" [disabled]="files.length === 0"  class="btn btn-danger">Clean Table</button>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th *ngFor="let field of fields"> {{ field.name }} </th>
                    <!-- <th>Film Name</th>
                    <th>Film Year</th>
                    <th>Film Director</th> -->
                    <th>Progress</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let file of files">
                    <td *ngFor="let field of fields"> 
                        <input *ngIf="field.isInput"
                            class="form-control" 
                            [type]="field.type"
                            [placeholder]="field.placeholder" 
                            [name]="field.name"
                            [(ngModel)]="file[field.name]" #inputName="ngModel"
                        >
                        <span *ngIf="!field.isInput">{{ file['file'][field.name] | fileSize}} </span>
                    </td>
                    <!-- <td [ngClass]="{ 'text-green': file.progreso >= 100 }">
                        {{ file.filmName }}
                    </td>
                    <td>
                        <input class="form-control" type="number" placeholder="2020" name="year" [(ngModel)]="file.filmYear" #inputName="ngModel">                    
                    </td>
                    <td>
                        <input class="form-control" type="text" placeholder="Director" name="director" [(ngModel)]="file.filmDirector" #inputName="ngModel">           
                    </td> -->
                    <td>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': file.progreso + '%' }"></div>
                        </div>
                    </td> 
                </tr>
            </tbody>
        </table>
    </div>
</div>