<div class="container categories-container flex">
    <!-- <app-cards *ngIf="(items | async)?.length != 0"></app-cards> -->
    <!-- <h1 class="text-center mb-5">{{ category | translate }}</h1> -->

    <div class="card-columns pb-5">
    <!-- <div class="row row-cols-3 g-3"> -->
        <div class="card border-light reveal" *ngFor="let image of items | async; let i=index">
            <img class="col px-0" [src]="image.src" (click)="open(i)" alt="Image Card" />
        </div>
    </div>
    <app-no-results *ngIf="(items | async)?.length == 0"></app-no-results>
   
</div>

<app-upload [fields]="fields"
    *ngIf="isLogged"></app-upload>