.modal-content {
    background-color: rgba(0,0,0,0.8);
    color: white;

    .modal-header {
        color: var(--gold);
    }

    .modal-body {
        font-size: 1.2rem;
        font-style: oblique;

        span {
            color: var(--gold);
        }
    }

    .modal-footer {
        border: none;
    }
}