<div>
    <app-navbar *ngIf="!inLogin" [dropdownLabel]="dropdownLabel" [title]="title"></app-navbar>
      
    <router-outlet></router-outlet>
    
    <footer>
        <app-social></app-social>
    </footer>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          
          <h5 class="modal-title" id="exampleModalLongTitle">
              <small> <span class="fas fa-laptop-code"></span> </small>
              {{ 'development' | translate }}
          </h5>
          <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body d-flex flex-wrap">
            <div class="col-12 col-md-9 d-flex justify-content-center justify-content-md-start">
                {{ 'developer' | translate }}
            </div>
            <div class="col-12 col-md-3 d-flex justify-content-around justify-content-md-between">
                <a href="mailto:cesar.carrasco.s@hotmail.com" target="_blank">
                    <span class="far fa-envelope fa-2x"></span>
                </a>
                <a href="https://wa.me/524492653187" target="_blank">
                    <span class="fab fa-whatsapp fa-2x"></span>
                </a>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-light" data-dismiss="modal">{{ 'close' | translate }}</button>
        </div>
      </div>
    </div>
  </div>