.limiter {
    background-image: url("../../../assets/img/login/Ride_bg.jpg");
    background-size: cover;

    .wrap-login100 {
        background-color: rgba(0,0,0,0.6);

        button {
            background-color: var(--gold);
        }
    }
}