<div class="container categories-container">
    <app-cards [photos]="items | async" ></app-cards>
</div>

<app-upload  [fields]="fields"  section="films"
    class="mb-5" *ngIf="isLogged"></app-upload>