<nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <a class="navbar-brand nav-link" [routerLink]="['/home']">{{ 'name' | translate }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li *ngFor="let category of categories" class="{{ category.hasSubItems ? 'nav-item dropdown' : 'nav-item'  }}" routerLinkActive="active">
                <a *ngIf="!category.hasSubItems" class="nav-link" [routerLink]="category.path">{{category.name | translate}}</a>
                <a *ngIf="category.hasSubItems" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdown" role="button">{{dropdownLabel | translate | uppercase}}</a>
                <div *ngIf="category.hasSubItems" class="dropdown-menu bg-dark white" aria-labelledby="navbarDropdown">
                    <a *ngFor="let subitem of photoSubitems | async" class="dropdown-item"  routerLinkActive="active" [routerLink]="['/photos', subitem.value]">{{ subitem.value | translate }}</a>
                </div>
            </li>
            <!-- <li class="nav-item" routerLinkActive="active" *ngIf="isLogged">
                <a class="nav-link" routerLink="/admin">Admin</a>
            </li> -->
        </ul>
        <div *ngIf="!isLogged" class="navbar-text">
            <span (click)="switchLang('en')" data-lang="en">
                EN
            </span> |
            <span (click)="switchLang('es')" data-lang="es" class="active">
                ES
            </span>
        </div>
        <div *ngIf="isLogged"  class="navbar-text">
            <span class="nav-link" (click)="handleLogout()">Logout</span>
        </div>
    </div>
</nav>