nav.navbar {
    $navbar-bg: $dark-gray;
    $navbar-item-color: $reverse-color;
    
    background-color: $navbar-bg;
    box-shadow: 0px -5px 12px $reverse-color;
    height: 90px;

    @media (max-width: 480px) {
        .navbar-collapse {
            background: $navbar-bg;
            left: 0;
            // padding: 20px;
            position: absolute;
            top: 90px;
            transition-duration: 0.2;
            width: 100%;

            ul.navbar-nav, .navbar-text {
                padding: 20px;
            }
        }
    }

    .navbar-brand {
        font-size: 2rem;
        padding: 0;
    }

    ul.navbar-nav {
        gap: 20px;
    
        li.nav-item {
            position: relative;

            &.active .nav-link {
                color: $primary-color !important;

                &:not(.dropdown-toggle) {
                    cursor: default;
                }
            }

            &::after {
                background-color: $primary-color;
                content: "";
                height: 2px;
                position: absolute;
                top: 100%;
                transition: width 0.3s ease-in-out;
                width: 0px;
            }

            &:not(.active) {            
                &:hover {
                    &::after {
                        width: 100%;
                    }
                }
            }

            
            .nav-link {
                color: $navbar-item-color;
                line-height: 16px;
                padding: 0;
            }

            .dropdown-menu {
                background-color: $navbar-bg !important;
                border: unset;
                padding: 0px;
                border-radius: unset;
                top: 50px;
                min-width: fit-content;

                .dropdown-item {
                    color: $navbar-item-color;
                    transition: all 0.3s ease-in-out;
                    
                    &:hover {
                        background-color: rgba($color: $primary-color, $alpha: 0.4);
                    }

                    &.active {
                        background-color: $primary-color;
                    }
                }
            }
        }
    }

    span {
        cursor: pointer;
        &.active {
            color: $primary-color;
        }
    }
}