/* You can add global styles to this file, and also import other style files */
@import './styles/variables';
@import './styles/basics';

@import './app/components/home/home.component.scss';
@import './app/components/shared/navbar/navbar.component.scss';

:root {
    --gold: #C39F00;
    
    .lb-close {
        background-size: cover;
        height: 15px;
        width: 15px;
    }
}

body {
    height: auto;
}

div.container {
    margin-top: 89px;
    padding-top: 20px;
}

footer {
    background-color: rgba(0,0,0,0.8);
    bottom: 0;
    position: fixed;
    width: 100vw;
}